p, h1, h2, h3, h4
{
      font-family: arial
}

body {
      background-color: #020659;
      }
      body {
      text-align: center;
      padding: 150px;
      }
      h1 {
      font-size: 50px;
      }
      body {
      font: 20px;
      Arial;
      color: #FFFFFF;
      }
      article {
      display: block;
      text-align: center;
      width: 650px;
      margin: 0 auto;
      }
      a {
      color: #dc8100;
      text-decoration: none;
      }
      a:hover {
      color: #333;
      text-decoration: none;
      }